<!DOCTYPE html>
<html lang="en" ng-app="techwiz" ng-controller="AppCtrl">

<head>
    <title>Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/thu_vien.css">
        <link rel="stylesheet" href="css/style_reponsive.css">
        <link rel="stylesheet" href="css/reponsive_menu.css">
        <link rel="stylesheet" href="css/style_owl.css">
        <link rel="stylesheet" href="css/style_footer.css">
        <link rel="stylesheet" href="css/chax-box.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    </head>

</head>

<body class="bg-light-white">
    <!-- Header -->
    <nav class="sticky-nav navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                Logo
            </a>
            <button class="navbar-toggler border-0 btn_hidden_icon" ng-click="hidden_icon()" type="button" data-bs-toggle="collapse" data-bs-target="#etpmmo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="full" style="" id="openmenu" ng-click="openMenu_rp()">
                <span class="toggle_icon" style="cursor:pointer"></span>
            </div>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="etpmmo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">login</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class=" flex-fill d-n d-lg-flex justify-content-lg-between align-self-center">
                        <form action="#" id="form">
                            <input type="search" placeholder="Search..." id="search">
                        </form>
                        <div class="seacrch">
                            <a class="nav-icon d-none d-lg-inline" href="#">
                                <i class="fa fa-fw fa-search text-dark mr-2" ng-click="search()"></i>
                            </a>
                        </div>
                        <div class="full openmenu" style="" id="" ng-click="openMenu()">
                            <span class="toggle_icon" style="cursor:pointer"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom">
            <a href="" id="avatar" ng-click="user()">
                <img style="width:30px; height:30px" src="img/default_user.png" alt="">
            </a>
            <div class="menu_tk">
                <ul>
                    <li>
                        <a href="#">Hello : </a>
                    </li>
                    <li>
                        <a href="#">My account</a>
                    </li>
                    <li>
                        <a href="#">Purchase form</a>
                    </li>
                    <div>
                        <button type="button" id="logout">Logout</button>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div id="default_theme">
        <div id="mySidenav" class="sidenav">
            <ul class="menu_sidebar" id="menu_nav">
                <li><a class="btn_close" href="javascript:void(0)" class="closebtn" ng-click="closeNav()">x</a></li>
                <a style="width:80%;text-decoration: none;" href="">
                    <li style="width:100%;" class="items-selector">
                        <img style="width:50px;border-radius:50%;" src="img/default_user.png" alt="">
                        <span style="margin-left:10px" class="font-sz text-black">Login / Register</span>
                    </li>
                </a>
                <li class="items-selector">
                    <a href="#"><i class="far fa-clone"></i></a>
                    <span class="font-sz text-black">sales order</span>
                </li>
                <li class="items-selector">
                    <a href="#"><i class="far fa-clone"></i></a>
                    <span class="font-sz text-black">purchase order</span>
                </li>
                <li class="items-selector">
                    <a href="#"><i class="far fa-clone"></i></a>
                    <span class="font-sz text-black">Post saved</span>
                </li>
                <li class="items-selector">
                    <a href="#"><i class="far fa-clone"></i></a>
                    <span class="font-sz text-black">purple sword saved</span>
                </li>
                <li class="items-selector">
                    <a href="#"><i class="far fa-clone"></i></a>
                    <span class="font-sz text-black">friends</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Close Header -->
    <!-- chua reponsive -->
    <section class="">
        <div id="etpm-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#etpm-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#etpm-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#etpm-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner bg-success banner-img">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="row">
                                        <div class="banner-animation-left col-md-7 p-relative r-left animate__animated animate__fadeInLeft">
                                            <div class="full back_blog text_align_center padding_right_left_15">
                                                <img src="img/about_img.png" alt="#">
                                            </div>
                                        </div>
                                        <div class="banner-animation-right col-md-5 animate__animated animate__fadeInRight">
                                            <div class="full heading_s1">
                                                <h3 class="text-white">About</h3>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum..</p>
                                            </div>
                                            <div class="full">
                                                <a class="read_more_bt" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-7 p-relative r-left animate__animated animate__fadeInLeft">
                                            <div class="full back_blog text_align_center padding_right_left_15">
                                                <img class="" src="img/about_img.png" alt="#">
                                            </div>
                                        </div>
                                        <div class="col-md-5 animate__animated animate__fadeInRight">
                                            <div class="full heading_s1">
                                                <h3>We can</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum..</p>
                                            </div>
                                            <div class="full">
                                                <a class="read_more_bt" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#etpm-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#etpm-mo-zay-hero-carousel" role="button" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="about section-pd">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-title a">
                    <h2 data-title="US STORY">ABOUT US</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 about-items animate__animated about1">
                    <h2>WELL COME YOURS TO OUR PRODUCT</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!X
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!</p>
                    <button class="btn">
                        READING
                    </button>
                </div>
                <div class="col-lg-6 about-items animate__animated about2">
                    <div class="about-item-img">
                        <span>10 + Years Experience</span>
                        <img src="img/den-op-tran.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tiltle bg-light-blue mt-5 mb-5"></div>
    <!-- End Section -->
    <div class="container bg-light">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="img/den-op-tran.jpeg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <h1 class="mb-4" _msthash="1251393" _msttexthash="11903567">#1 Nơi để tìm bất động sản hoàn hảo</h1>
                <p class="mb-4" _msthash="1203917" _msttexthash="21944962">Tempor erat elitr rebum at clita. Diam dolor diam ipsum ngồi. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <p><i class="fa fa-check text-primary me-3"></i>
                    <font _mstmutation="1" _msthash="1204034" _msttexthash="750932">Tempor erat elitr rebum at clita</font>
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>
                    <font _mstmutation="1" _msthash="1204151" _msttexthash="528827">Aliqu diam amet diam et eos</font>
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>
                    <font _mstmutation="1" _msthash="1204268" _msttexthash="999297">Clita duo justo magna dolore erat amet</font>
                </p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="" _msthash="1203020" _msttexthash="933348">ĐọC Thêm</a>
            </div>
        </div>
    </div>
    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#etpmmo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="etpmmo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#etpmmo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

    <div id="chatApp">
        <div class="chatBox" id="chatBox">
            <div class="card">

                <div class="card-header header-title" @click="toggleChat()">
                    <p class="card-header-title">
                        <i class="fa fa-circle is-online"></i><img src="" style="width: 30px;">&nbsp;{{headUser}}
                    </p>
                    <a class="card-header-icon">
                        <span class="icon">
                            <i class="fa-solid fa-xmark" ng-click="openChat()" style="color:#000000"></i>
                        </span>
                    </a>
                </div>

                <div id="chatbox-area">
                    <div class="card-content chat-content">
                        <div class="content">
                            <div class="chat-message-group">
                                <div class="chat-thumb">
                                    <figure class="image is-32x32">
                                        <img src="https://k0.okccdn.com/php/load_okc_image.php/images/32x0/971x939/0/10846088441021659030.webp?v=2">
                                    </figure>
                                </div>
                                <div class="chat-messages">
                                    <div class="message">xin chào tôi có thể giúp gì được cho bạn</div>
                                    <div class="from"><span>date:00:00</span></div>
                                </div>
                            </div>
                            <div class="chat-message-group writer-user">
                                <div class="chat-messages">
                                    <div class="message">Mình muốn mua một sản phẩm bên bạn</div>
                                    <div class="from">
                                        <span>date:00:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message-group">
                                <div class="chat-thumb">
                                    <figure class="image is-32x32">
                                        <img src="https://k0.okccdn.com/php/load_okc_image.php/images/32x0/971x939/0/10846088441021659030.webp?v=2">
                                    </figure>
                                </div>
                                <div class="chat-messages">
                                    <div class="message">không biết bạn muôn mua loại sản phẩm nào bên mình ạ</div>
                                    <div class="from"><span>date:00:00</span></div>
                                </div>
                            </div>
                            <div class="chat-message-group">
                                <div class="typing"><span>Typing</span></div>
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer" id="chatBox-textbox">
                        <div id="input_mess">
                            <textarea id="chatTextarea" class="chat-textarea" placeholder="chat"></textarea>
                            <div id="send">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

    </div>
    <!-- Start Footer -->
    <div class="footer_">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full footer_top">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="full f_logo">
                                        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                                            LOGO
                                        </a>
                                    </div>
                                    <div class="full">
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna strud exercitation</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="full heading_footer">
                                        <h3>Menu</h3>
                                    </div>
                                    <div class="full">
                                        <ul class="footer_link">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">What we do</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                            <li><a href="#">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="full heading_footer ml-5">
                                        <h3>Instagram</h3>
                                    </div>
                                    <div class="full">
                                        <ul class="footer_link_intas">
                                            <li>
                                                <span><img src="img/f_in_blog.png" alt="#" /></span>
                                                <span>Consectetur Adipiscing</span>
                                            </li>
                                            <li>
                                                <span><img src="img/f_in_blog2.png" alt="#" /></span>
                                                <span>Consectetur Adipiscing</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="full heading_footer">
                                        <h3>Subscribe</h3>
                                    </div>
                                    <div class="full footer_form">
                                        <form>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="full">
                                                            <input type="email" placeholder="Your Email" name="_email" />
                                                        </div>
                                                        <div class="full">
                                                            <button>Subscribe</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row mt-50">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="full cont_info">
                                                        <i class="fa fa-map-marker"></i>
                                                        <span>Location</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="full cont_info">
                                                        <i class="fa fa-phone"></i>
                                                        <span>Call +01 1234 567 890</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="full cont_info">
                                                        <i class="fa fa-envelope" style="font-size: 17px;"></i>
                                                        <span>demo@gmail.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- cpy -->
    <div class="cosical_medium">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full center">
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="full text-center">
                        <p>© 2020 All Rights Reserved. <a href="https://html.design">html.design</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/about-animation.js"></script>

</body>

</html>