<!DOCTYPE html>
<html lang="en" ng-app="techwiz" ng-controller="AppCtrl">

<head>
    <title>SHOP contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/thu_vien.css">
    <link rel="stylesheet" href="css/style_reponsive.css">
    <link rel="stylesheet" href="css/reponsive_menu.css">
    <link rel="stylesheet" href="css/style_footer.css">
    <link rel="stylesheet" href="css/style_owl.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

</head>

<body class="bg-light-white">
    <nav class="sticky-nav navbar navbar-expand-lg navbar-light shadow z-i">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                LOGO
            </a>
            <button class="navbar-toggler border-0 btn_hidden_icon" ng-click="hidden_icon()" type="button" data-bs-toggle="collapse" data-bs-target="#etpmmo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="full" id="openmenu" ng-click="openMenu_rp()">
                <span class="toggle_icon" style="cursor:pointer"></span>
            </div>
            <div class="sticky-nav align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="etpmmo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class=" flex-fill d-n d-lg-flex justify-content-lg-between align-self-center">
                        <form action="#" id="form">
                            <input type="search" placeholder="Search..." id="search">
                        </form>
                        <div class="seacrch">
                            <a class="nav-icon d-none d-lg-inline" href="#">
                                <i class="fa fa-fw fa-search text-dark mr-2" ng-click="search()"></i>
                            </a>
                        </div>
                        <div class="full openmenu" style="" id="" ng-click="openMenu()">
                            <span class="toggle_icon" style="cursor:pointer"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom">
            <a href="" id="avatar" ng-click="user()">
                <img style="width:30px; height:30px" src="img/default_user.png" alt="">
            </a>
            <div class="menu_tk">
                <ul>
                    <li>
                        <a href="#">Hello : </a>
                    </li>
                    <li>
                        <a href="#">My account</a>
                    </li>
                    <li>
                        <a href="#">Purchase order</a>
                    </li>
                    <div>
                        <button type="button" id="logout">Logout</button>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div id="default_theme">
        <div id="mySidenav" class="sidenav bg-black">
            <ul class="menu_sidebar">
                <li class="mt-4"><a class="btn_close text-white" href="javascript:void(0)" class="closebtn" ng-click="closeNav()">x</a></li>
                <li><a class="text-white mt-4" href="#faq">01. what_we_do</a></li>
                <li><a class="text-white mt-4" href="about.html">02. About</i></a></li>
                <li><a class="text-white mt-4" href="what_we_do.html">03. What we do</a></li>
                <li><a class="text-white mt-4" href="testimonial.html">04. Testimonial</a></li>
                <li><a class="text-white mt-4" href="contact.html">05. Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="modal fade bg-white" id="etpmmo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Contact Us</h1>
            <p>
                Proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>

    <div style="width: 100%; height: 300px; z-index: -1;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.657600813901!2d105.78126221476359!3d21.046381985988802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3b4220c2bd%3A0x1c9e359e2a4f618c!2sB%C3%A1ch%20Khoa%20Aptech!5e0!3m2!1svi!2s!4v1658548933739!5m2!1svi!2s"
            width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Ena Map -->

    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Name</label>
                        <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">Email</label>
                        <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputsubject">Subject</label>
                    <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Message</label>
                    <textarea class="form-control mt-1" id="message" name="message" placeholder="Message" rows="8"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Let’s Talk</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->


    <!-- Start Footer -->
    <!-- end footer -->
    <!-- cpy -->
    <div class="cosical_medium">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full center">
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="full text-center">
                        <p>© 2020 All Rights Reserved. <a href="https://html.design">html.design</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>